@charset "UTF-8";

// nullStyle settings:
@import "./nullStyle";

// import:
@import "blocks/main";
@import "blocks/media";

body{
  color: black;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0 0 15px;
}


